body{
    background-color: rgb(181, 252, 228);
}
h1,h2,h3{
    color: rgb(1, 119, 119);
}
hr{
    border: 1px solid teal;
}
.books_container{
    text-align: center;
}
#booksListing li{
    list-style: none;
    font-weight: 600;
    font-family: cursive;
}
#booksListing li a{
    text-decoration: none;
    color: rgb(5, 102, 158);
}
#linnks a{
    text-decoration: none;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(5, 102, 158);
}
#main_Logo{
    font-size: 40px;
}
.hobbies_container{
    transform: translateY(-50px);
}
#hobbies_listing{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: translateY(35px);
}
#hrLine{
    width: 220px;
    height: 3px;
    background-color: teal;
}
#hobbies_list li{
    list-style: none;
    font-size: x-large;
    transform: translateX(-35px);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
#label{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(240, 66, 13);
}
#input_section input{
    width: 250px;
    height: 20px;
    line-height: 20px;
    background-color:rgb(161, 234, 252) ;
    border: 2px solid rgb(240, 66, 13);
    border-radius: 5px;

}
#form_submit_reset_section input{
    background-color: rgb(240, 66, 13);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
}
#form_submit_reset_section input:hover{
    background-color: white;
    color: rgb(240, 66, 13);
    font-weight: 800;
    cursor: pointer;
}

.form_container{
    border: 1px solid teal;
   box-shadow: 7px 5px 6px teal;
   width: 500px;
   height: 536px;
   transform: translateX(400px);
}
#form_heading, #form_stater{
    transform: translateX(130px);
}

#contact_lists li{
    list-style: none;
    transform: translateX(-35px);
    font-weight: 700;
    font-family: sans-serif;
    color:rgb(240, 66, 13) ;
}
#contact{
    font-size: 40px;
    transform: translateY(30px);
}
#contact_line{
    width: 150px;
    height: 3px;
    background-color: teal;
    transform: translateX(2px);
}
.Contact_container{
    transform: translateY(-50px);
}
#form_heading h1{
    font-family:sans-serif;
}

/* Media queries */
@media (max-width:576px){
    .form_container{
         transform: translateX(-50px);
    }
}
@media (max-width:720px){
    .form_container{
         transform: translateX(-40px);
         
    }
}